body {
	font-family: Raleway, "Helvetica Ne";
}


.header {
	background: linear-gradient(to bottom, orchid, black);
	background: -prefix-linear-gradient(top, orchid, black);
	padding: 0 0 1rem 0;

}

.header-landing {
	background: linear-gradient(-45deg, rgb(160, 81, 159), #5c0057, #240114, black);
	background-size: 400% 400%;
	animation: gradient-header-landing 15s ease infinite;
	width: 100%;
	padding: 0.5rem 0 0.5rem 0;
	border-bottom: #333 solid 0.5rem;
}


@keyframes gradient-header-landing {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


@media screen and (max-width: 780px) {
	.header {
		justify-content: flex-start;
	}
}

.containerPrincipal {

	margin: 0 10% 1rem 20%;
	align-items: center;
	display: flex;

	justify-content: space-between;

}

.container {

	margin: 0 10% 1rem 10%;
	align-items: center;
	display: flex;

	justify-content: space-between;

}

/***************logo*****************/

.header__contenedor {
	display: flex;
	width: 15%;
	flex-direction: column;
	z-index: 11;
}

.header__logo {
	border: 0.25rem solid orchid;
	border-radius: 50%;
	width: 90%;

}

.header__logo__nombre {
	/*	background: rgba(218, 112, 214, 0.30);*/
	color: rgb(235, 235, 235);
	font-size: 1.25rem;
	text-align: center;
	width: 90%;
	font-family: 'Lobster', cursive;
}

/***********busqueda************/

.busquedaYlogin {
	display: flex;
	width: 65%;
	justify-content: space-between;
}

@media screen and (max-width: 780px) {
	.busquedaYlogin {
		font-size: 10px;
	}
}

@media screen and (max-width: 780px) {
	.busquedaYlogin {
		width: 100%;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}

.busqueda form {
	font-size: 0px;
	z-index: 1;
	text-align: center;
}

.busqueda input {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	height: 2.5rem;
	margin: 0;
	padding: 0 0.85rem;
	text-shadow: 0 -1px 0 #000;
}

.ie .busqueda input {
	line-height: 2.5rem;
}

.busqueda::-webkit-input-placeholder {
	color: #888;
}

.busqueda input:-moz-placeholder {
	color: #888;
}

.busqueda input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: -webkit-linear-gradient(#333933, #222922);
	background: -moz-linear-gradient(#333933, #222922);
	background: -o-linear-gradient(#333933, #222922);
	background: -ms-linear-gradient(#333933, #222922);
	background: linear-gradient(#333933, #222922);
	border-color: rgb(148, 75, 145);
	box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
	color: rgb(252, 239, 127);
	outline: none;
}

.busqueda input:focus::-webkit-input-placeholder {
	color: rgb(252, 239, 127);
}

.busqueda input:focus:-moz-placeholder {
	color: rgb(252, 239, 127);
}

.header__btn {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: rgb(252, 239, 127);
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 0.9rem;
	font-weight: 400;
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 2px 0;
	padding: 0;
	text-shadow: 0 -1px 0 #000;
	width: 5rem;
}

.header__btn:hover,
.header__btn:focus {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	color: orchid;
	outline: none;
}

.header__btn:active {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@-webkit-keyframes glow {
	0% {
		border-color: rgb(187, 96, 184);
		box-shadow: 0 0 5px rgba(218, 112, 214, .2), inset 0 0 5px rgba(218, 112, 214, .1), 0 2px 0 #000;
	}

	100% {
		border-color: rgb(250, 130, 246);
		box-shadow: 0 0 20px rgba(218, 112, 214, .6), inset 0 0 10px rgba(218, 112, 214, .4), 0 2px 0 #000;
	}
}

@-moz-keyframes glow {
	0% {
		border-color: rgb(187, 96, 184);
		box-shadow: 0 0 5px rgba(218, 112, 214, .2), inset 0 0 5px rgba(218, 112, 214, .1), 0 2px 0 #000;
	}

	100% {
		border-color: rgb(250, 130, 246);
		box-shadow: 0 0 20px rgba(218, 112, 214, .6), inset 0 0 10px rgba(218, 112, 214, .4), 0 2px 0 #000;
	}
}

@-o-keyframes glow {
	0% {
		border-color: rgb(187, 96, 184);
		box-shadow: 0 0 5px rgba(218, 112, 214, .2), inset 0 0 5px rgba(218, 112, 214, .1), 0 2px 0 #000;
	}

	100% {
		border-color: rgb(250, 130, 246);
		box-shadow: 0 0 20px rgba(218, 112, 214, .6), inset 0 0 10px rgba(218, 112, 214, .4), 0 2px 0 #000;
	}
}

@-ms-keyframes glow {
	0% {
		border-color: rgb(187, 96, 184);
		box-shadow: 0 0 5px rgba(218, 112, 214, .2), inset 0 0 5px rgba(218, 112, 214, .1), 0 2px 0 #000;
	}

	100% {
		border-color: rgb(250, 130, 246);
		box-shadow: 0 0 20px rgba(218, 112, 214, .6), inset 0 0 10px rgba(218, 112, 214, .4), 0 2px 0 #000;
	}
}

@keyframes glow {
	0% {
		border-color: rgb(187, 96, 184);
		box-shadow: 0 0 5px rgba(218, 112, 214, .2), inset 0 0 5px rgba(218, 112, 214, .1), 0 2px 0 #000;
	}

	100% {
		border-color: rgb(250, 130, 246);
		box-shadow: 0 0 20px rgba(218, 112, 214, .6), inset 0 0 10px rgba(218, 112, 214, .4), 0 2px 0 #000;
	}
}

.header__busqueda__descripcion__landing {
	/*background-color: rgba(212, 209, 209, 0.3);*/
	color: orchid;
	font-size: 3.5rem;
	margin: 5rem 10% 4rem 30%;
	text-align: right;
	border-radius: 1rem;
}

.header__busqueda__descripcion {
	/*background-color: rgba(212, 209, 209, 0.3);*/
	color: orchid;
	font-size: 3.5rem;
	margin: 5rem 10% 4rem 10%;
	text-align: right;
	border-radius: 1rem;
}


@media screen and (max-width: 780px) {

	.header__busqueda__descripcion__landing {
		font-size: 2rem;
		margin: 3.5rem 10% 4rem 30%;

	}

	.header__busqueda__descripcion {
		font-size: 2rem;
		margin: 3.5rem 10% 4rem 10%;
		text-align: center;

	}

}


/*********************login************************/



.login {
	width: 15%;
	text-align: center;
}

@media screen and (max-width: 780px) {
	.login {
		width: 100%;
		text-align: right;
	}
}


#login,
#btn__ofertas {
	border-radius: 5px;
	border-left-color: #444;
}

