
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.container__cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: rgba(41, 13, 34, 0.53);
    width:30px;
    text-align: center;
    border-radius: 15px;
  
    box-shadow:
    inset 4px 4px 5px 0 rgba(255, 255, 255, .42),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.21),
    0 0 10px 1px rgba(0, 0, 0, 0.25);
}
.container__cerrar:active {
    box-shadow:
    inset 4px 4px 5px 0 rgba(255, 255, 255, .22),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.21),
    0 0 10px 1px rgba(0, 0, 0, 0.25);

}

#cerrar{
    
    transition: all 250ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
   
   
}

#popup {
    position: fixed;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 4rem 10%;
    flex-wrap: wrap;
   
    padding: 2rem;


    
    background-color: rgba(104, 65, 148, 0.1);
    border-radius: 1.2rem;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter:
    blur(15px);
    
    box-shadow:
    inset 4px 4px 5px 0 rgba(255, 255, 255, .25),
    inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125),
    0 0 10px 1px rgba(0, 0, 0, 0.25);

    z-index: 100;

   
}

.imagen-producto {
    width: 40%;
}
.imagen-producto img{
    width: 100%;
}

.textos-producto {
    color:rgb(252, 239, 127);
    font-size: 2.5rem;
    padding: 1rem;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.7rem;
    
}

.textos-producto p{
    font-size: 1.3rem;
    margin: 1rem 0;
}


@media screen and (max-width: 780px) {
    .contenedor__producto{
        width: 80%;
        margin: 4rem 0;
        padding: 2rem 2rem;
        right: calc(10% - 2rem);

    }
    .imagen-producto {
        width: 95%;
    }
    .textos-producto {
        width: 90%;
    }
}