.variedades {
    width: 100%;
}

.variedades__contenedor {
    width: 80%;
    margin: 5% 10% 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 780px) {
    .variedades__contenedor {
        width: 95%;
        margin: 5% 2.5% 1rem 2.5%;
    }
}


.variedades__contenedor__titulo {
    color: rgb(252, 239, 127);
    font-size: 2rem;
}

.variedades__contenedor__todos {
    color: orchid;
    font-size: 1rem;
}

.variedades__contenedor__todos:hover {
    color: rgb(255, 151, 252);
    font-size: 1.1rem;
}


.variedades ul {
    display: flex;
    width: 80%;
    margin: 0 10% 0 10%;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: rgba(104, 65, 148, 0.21);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter:
        blur(15px);

    box-shadow:
        inset 4px 4px 5px 0 rgba(255, 255, 255, .25),
        inset -4px -4px 5px 0 rgba(0, 0, 0, 0.125),
        0 0 10px 1px rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 1023px) {
    .variedades ul {
        width: 95%;
        margin: 0 2.5% 0 2.5%;
    }
}

.variedades ul li {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
}

@media screen and (max-width: 780px) {
    .variedades ul li {
        width: 40%;
    }
}

.variedades ul li p {
    color: rgb(252, 239, 127);
    margin: 0.25rem;

}

.variedades ul li a {
    text-decoration: none;
    text-decoration: underline;
    color: rgb(252, 239, 127);
    margin: 0.25rem;
}

.variedades ul li a:hover {
    color: orchid;
    text-decoration: none;
}

.imagen {
    padding: 0.5rem;
    width: 100%;
}

.contenedor__ofertas {
    position: relative;
    width: 100%;
}

.deal {
    position: absolute;
    width: 50%;
    bottom: -10%;
    right: -15%;
}